body {
   background-color: #000;
   color: #d3d3d3;
   font-size: 28px;
   font-family: monospace;
}

main {
   margin-left: auto;
   margin-right: auto;
   width: 900px;
}

.board {
   margin: 50px 0 50px 0;
   font-size: 48px;
   text-align: center;
   min-height: 60px;
   text-transform: uppercase;
}

.hangman {
   float: left;
   width: 450px;
   text-align: center;
   min-height: 280px;
}

.alphabet {
   float: left;
   width: 450px;
   min-height: 280px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}

.letter {
   width: 40px;
   height: 40px;
   margin: 5px;
   background-color: inherit;
   font-family: inherit;
   font-size: 22px;
   color: inherit;
   border: 3px solid #d3d3d3;
   border-radius: 12px;
   cursor: pointer;
}