body {
   background-color: #000;
   color: #d3d3d3;
   font-family: monospace;
}

main {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 900px;
}

.window-name {
   position: absolute;
   right: 250px;
   top: 150px;
   background-color: #000;
   border: 1px solid #fff;
   opacity: 0.9;
   width: 400px;
   height: 165px;
   font-size: 34px;
   text-align: center;
   padding-top: 20px
}

.input-name {
   margin-top: 15px;
   font-size: 22px;
   font-family: monospace;
   padding: 3px 10px;
   outline: none;
   border-radius: 5px;
}

.play:hover {
   color: #00A000;
   background-color: #003000;
   border: 3px solid #00A000;
   cursor: pointer;
}

.board {
   margin: 50px 0 50px 0;
   font-size: 48px;
   text-align: center;
   min-height: 60px;
   text-transform: uppercase;
}

.hangman {
   float: left;
   width: 450px;
   text-align: center;
   min-height: 280px;
}

.alphabet {
   float: left;
   width: 450px;
   min-height: 280px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}

.result {
   font-size: 28px;
   text-align: center;
}

.reset {
   font-size: 42px;
   font-weight: bold;
   color: #008000;
   transition: font-size .2s ease-in-out;
}

.reset:hover {
   cursor: pointer;
   font-size: 44px;
}

.letter {
   width: 45px;
   height: 45px;
   margin: 5px;
   background-color: inherit;
   font-family: inherit;
   font-size: 28px;
   color: inherit;
   border: 3px solid #808080;
   border-radius: 12px;
   transition: transform .1s ease-in-out;
   outline: none;
}

.letter:hover {
   transform: scale(1.1);
   background-color: #222;
   border: 3px solid #d3d3d3;
   color: #fff;
   cursor: pointer;
}

.letter-true {
   color: #00A000;
   background-color: #003000;
   border: 3px solid #00A000;
   pointer-events: none;
}

.letter-false {
   color: #E00000;
   background-color: #530000;
   border: 3px solid #E00000;
   pointer-events: none;
}